[submodule "pySML"]
	path = pySML
	url = https://github.com/hallabalooza/pySML
[submodule "pyOBIS"]
	path = pyOBIS
	url = https://github.com/hallabalooza/pyOBIS
[submodule "pyLOG"]
	path = pyLOG
	url = https://github.com/hallabalooza/pyLOG
[submodule "test/pcapng-test-generator"]
	path = test/pcapng-test-generator
	url = https://github.com/hadrielk/pcapng-test-generator
